<h1>Settings</h1>
<%= link_to edit_user_registration_path, class: "btn btn-dark" do %>
  <span class="ms-1 d-none d-sm-inline">Edit</span>
<% end %><br>
<%= link_to destroy_user_session_path, class: "btn btn-dark" do %>
  <span class="ms-1 d-none d-sm-inline">Log out</span>
<% end %>

<h3>Appearance</h3>

<div class="mb-3">
  <label for="themeSelector text-normal" class="form-label">Select Theme:</label>
  <select id="themeSelector" class="form-select w-auto" onchange="setTheme(this.value)">
    <option value="pink">Pink (Default)</option>
    <option value="dark">Dark Mode</option>
    <option value="dark-orange">Dark Orange</option>
  </select>
</div>
