<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 py-5 side-bar">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-0 pt-0 text-black border-sidebar">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start full-width"
      id="menu">
      <li class="nav-item nav-design-data">
        <div>
          <%= link_to dashboard_best_to_path, data: { bs_toggle: "tab" }, class: "nav-link px-2 align-middle" do %>
            <i class="material-symbols-outlined">mountain_flag</i>
            <span class="ms-1 d-none d-sm-inline">Did I do my best to</span>
          <%end %>
        </div>

      </li>
      <li class="nav-item nav-design">
        <a href="#food" data-bs-toggle="tab" class="nav-link px-2 align-middle">
          <i class="material-symbols-outlined">mountain_flag</i>
          <span class="ms-1 d-none d-sm-inline">  Did I do my best to</span> </a>

      </li>
      <li class="nav-item nav-design">
        <a href="#dessert" data-bs-toggle="tab" class="nav-link px-2 align-middle">
          <i class="material-symbols-outlined">monitoring</i>
          <span class="ms-1 d-none d-sm-inline">  Analysis</span></a>
      </li>
    </ul>
    <hr>
  </div>
</div>
