<h1 class="text-2xl font-bold mb-4">History</h1>

<%= month_calendar(events: @sessions) do |date, sessions| %>
  <%= link_to history_path(date: date), 
              data: { turbo_frame: "day_details" }, 
              class: "text-center d-block text-decoration-none" do %>
    <div>
      <%= date.day %>
      <% if sessions.present? %>
        <div class="text-green-600 text-xl">🏋️</div>
      <% end %>
    </div>
  <% end %>
<% end %>

<!-- This frame will be replaced when a day is clicked -->
<turbo-frame id="day_details" class="mt-4">
  <% if params[:date] %>
    <%= render "day_sessions", 
               date: Date.parse(params[:date]), 
               sessions: @sessions.select { |s| s.date == Date.parse(params[:date]) } %>
  <% end %>
</turbo-frame>
