<div id="<%= dom_id habit %>">
  <div>
    <strong>Title:</strong>
    <%= habit.title %>
  </div>

  <div>
    <strong>User:</strong>
    <%= habit.user_id %>
  </div>

  <div>
    <strong>Completed date:</strong>
    <%= habit.completed_date %>
  </div>

</div>
